body{
    background-color: color-mix(in srgb-linear,red 20%, blue 20%);
}
#logo-navbar{
    width: auto;
    height: 50px;
}
.navigasi-atas{
    margin: 0;
    background-image: linear-gradient(to right,red, blue);
}